<h1 class="text-3xl font-bold mb-4"><%= @post.title %></h1>

<p class="mb-4"><%= @post.body %></p>

<p class="text-sm text-gray-500">Author: <%= @post.user.email %></p>

<div class="mt-6">
  <% if policy(@post).update? %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'text-blue-500 hover:text-blue-700 mr-4' %>
  <% end %>
  <%= link_to 'Back to Posts', posts_path, class: 'text-gray-500 hover:text-gray-700' %>
</div>
